*{
  margin: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

#root{
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
